h1,
h2,
h3,
h4,
h5,
h6 {
    @apply text-drd-text-primary;
}

p {
    @apply text-drd-text-secondary;
}

* {
    @apply font-vazir;
}

.a-btn {
    @apply bg-drd-primary text-drd-bg-primary 
    text-sm sm:text-base transition-all
    rounded-lg px-4 py-2 w-fit;
}

.glass {
    backdrop-filter: blur(20px) saturate(150%);
    -webkit-backdrop-filter: blur(20px) saturate(150%);
}

.app-px {
    @apply px-4 sm:px-8 md:px-12 lg:px-20 xl:px-28 2xl:px-60;
}

.pouria-hex-icon {
    animation: floatImage 4s ease-in-out infinite;
    @apply text-drd-primary drop-shadow-pdIcon hover:drop-shadow-pdIconHover transition-all;
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-1.4rem);
    }
    100% {
        transform: translateY(0);
    }
}

/* ---------------------------------------------------------------------- */
/* Fade in animation */
.fade-in {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* ---------------------------------------------------------------------- */
/* Bounce animation */

.bounce-top {
    animation: bounceTomAnim 2s ease 0s 1 normal forwards;
}

@keyframes bounceTomAnim {
    0% {
        animation-timing-function: ease-in;
        opacity: 1;
        transform: translateY(-45px);
    }

    24% {
        opacity: 1;
    }

    40% {
        animation-timing-function: ease-in;
        transform: translateY(-24px);
    }

    65% {
        animation-timing-function: ease-in;
        transform: translateY(-12px);
    }

    82% {
        animation-timing-function: ease-in;
        transform: translateY(-6px);
    }

    93% {
        animation-timing-function: ease-in;
        transform: translateY(-4px);
    }

    25%,
    55%,
    75%,
    87% {
        animation-timing-function: ease-out;
        transform: translateY(0px);
    }

    100% {
        animation-timing-function: ease-out;
        opacity: 1;
        transform: translateY(0px);
    }
}

.bounce-left {
    animation: bounceLeftAnim 2s ease 0s 1 normal forwards;
}

@keyframes bounceLeftAnim {
    0% {
        animation-timing-function: ease-in;
        opacity: 1;
        transform: translateX(-60px);
    }

    24% {
        opacity: 1;
    }

    40% {
        animation-timing-function: ease-in;
        transform: translateX(-26px);
    }

    65% {
        animation-timing-function: ease-in;
        transform: translateX(-13px);
    }

    82% {
        animation-timing-function: ease-in;
        transform: translateX(-6.5px);
    }

    93% {
        animation-timing-function: ease-in;
        transform: translateX(-4px);
    }

    25%,
    55%,
    75%,
    87%,
    98% {
        animation-timing-function: ease-out;
        transform: translateX(0px);
    }

    100% {
        animation-timing-function: ease-out;
        opacity: 1;
        transform: translateX(0px);
    }
}
