@import "tailwindcss/base";
@import "tailwindcss/utilities";
@import "tailwindcss/components";

/* ---------------------------------------------------------------------- */
/* Scroll area */

::-webkit-scrollbar {
    @apply bg-gray-300 w-2 h-1;
}

::-webkit-scrollbar-thumb:horizontal {
    @apply bg-gray-400;
}

::-webkit-scrollbar-thumb:vertical {
    @apply bg-gray-400;
}

html {
    scroll-behavior: smooth;
}

/* ---------------------------------------------------------------------- */
/* Vazir area */

@font-face {
    font-family: "Vazir";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/Vazir/Vazir-Regular-FD.woff") format("woff"),
        url("../fonts/Vazir/Vazir-Regular-FD.woff2") format("woff2"),
        url("../fonts/Vazir/Vazir-Regular-FD.ttf") format("ttf");
}

@font-face {
    font-family: "Vazir";
    font-style: normal;
    font-weight: bold;
    src: url("../fonts/Vazir/Vazir-Bold-FD.woff") format("woff"),
        url("../fonts/Vazir/Vazir-Bold-FD.woff2") format("woff2"),
        url("../fonts/Vazir/Vazir-Bold-FD.ttf") format("ttf");
}

/* ---------------------------------------------------------------------- */
/* Yekan area */

@font-face {
    font-family: "IRANYekanX";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/IRANYekanX/IRANYekanX-Regular.woff") format("woff"),
        url("../fonts/IRANYekanX/IRANYekanX-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "IRANYekanX";
    font-style: normal;
    font-weight: bold;
    src: url("../fonts/IRANYekanX/IRANYekanX-Bold.woff") format("woff"),
        url("../fonts/IRANYekanX/IRANYekanX-Bold.woff2") format("woff2");
}

.ss02 {
    font-feature-settings: "ss02";
    -moz-font-feature-settings: "ss02";
    -webkit-font-feature-settings: "ss02";
}

.r2l {
    direction: rtl;
}

.l2r {
    direction: ltr;
}

/* ---------------------------------------------------------------------- */
/* Peyda area */

@font-face {
    font-family: "PeydaWebFaNum";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/Peyda/woff2/PeydaWebFaNum-Regular.woff2") format("woff2"),
        /* FF39+,Chrome36+, Opera24+*/
            url("../fonts/Peyda/woff/PeydaWebFaNum-Regular.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
    font-family: "PeydaWebFaNum";
    font-style: normal;
    font-weight: bold;
    src: url("../fonts/Peyda/woff2/PeydaWebFaNum-Bold.woff2") format("woff2"),
        /* FF39+,Chrome36+, Opera24+*/
            url("../fonts/Peyda/woff/PeydaWebFaNum-Bold.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
